.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navpadding {
  background-color: rgba(255, 250, 225, 0.31);
  padding: 20px;
}
.flex-container {
  margin-right: 50px;
  display: -webkit-flex;
  display: flex;
}
.flex-item {
  margin-left: 20px;
  -webkit-order: 1;
  order: 1;
}
.backgroundsmooth{
  margin: 70px;
  height: 85%;
  background-color: rgba(253, 249, 241, 0.97);
  border: 1px;
  border-radius: 5px 5px 5px 5px;
  padding: 50px;
}

.backgroundsmooth-form{
  margin: 70px;
  height: 85%;
  background-color: rgba(253, 249, 241, 0.87);
  border: 1px;
  border-radius: 5px 5px 5px 5px;
  padding: 50px;
}

.bigtext{
  margin: 50px;
}
.longtext {
  margin: 80px;
}
.grid-container-double{
  padding: 20px;
  display: grid;
  grid-template-columns: max-content max-content ;
  gap: 30px;
}

.card-one{
  width: 650px;
  height: 600px;
  background-color: rgba(191, 135, 69, 0.34);
  border: 1px solid #0d2158;
}
.card-two{
  width: 650px;
  height: 600px;
  background-color: rgba(191, 135, 69, 0.37);
  border: 1px solid #0d2158;
}
.card-second {
  margin-top: 30px;
  padding-left: 40px;
}
.wrapper1{
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
}

.wrapper2{
  margin: 100px;
}
.backgroundsmooth-big-card{
  margin: 70px;
  height: 85%;
  background-color: rgb(222, 198, 176);
  border: 1px;
  border-radius: 5px 5px 5px 5px;
  padding: 50px;
}



* {box-sizing: border-box;}
.transparent {
  position: relative;
  max-width: 400px;
  padding: 60px 50px;
  margin: 50px auto 0;
  background-size: cover;
}
.transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right bottom,rgba(43, 44, 78, .5),rgba(104, 22, 96, .5));
}
.form-inner {position: relative;}
.form-inner h2 {
  position: relative;
  margin-top: 0;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 26px;
  text-transform: uppercase;
}
.form-inner h3:after {
  content: "";
  position :absolute;
  left: 0;
  bottom: -6px;
  height: 2px;
  width: 60px;
  background: #1762EE;
}
.form-inner label {
  display: block;
  padding-left: 15px;
  font-family: 'Roboto', sans-serif;
  color: rgba(255,255,255,.6);
  text-transform: uppercase;
  font-size: 14px;
}
.form-inner input {
  display: block;
  width: 100%;
  height: 50px;
  border: 1px solid #0d2158;
  padding: 0 15px;
  margin: 10px 0 15px;
  line-height: 40px;
  color: black;
  background: rgba(255,255,255,.2);
  font-family: 'Roboto', sans-serif;
}
.form-inner textarea {
  display: block;
  width: 100%;
  height: 140px;
  border: 1px solid #0d2158;
  padding: 0 15px;
  margin: 10px 0 15px;
  line-height: 23px;
  color: black;
  background: rgba(255,255,255,.2);
  font-family: 'Roboto', sans-serif;
}

.form-inner button {
  display: block;
  width: 20%;
  height: 50px;
  border: 1px solid #0d2158;
  padding: 0 15px;
  margin: 10px 0 15px;
  line-height: 40px;
  color: black;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  background: rgba(255,255,255,.2);
  font-family: 'Roboto', sans-serif;
}
.form-inner input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
#custom-checkbox + label {
  position: relative;
  margin: 20px 0;
  text-transform:none;
  cursor: pointer;
}
#custom-checkbox + label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: text-top;
  background: white;
}
#custom-checkbox:checked + label:before {background: #1762EE;}
#custom-checkbox:checked + label:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  left: 20px;
  top: 9px;
  background: white;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}
.form-inner input[type="submit"] {background: #1762EE;}