.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navpadding {
  background-color: rgba(255, 250, 225, 0.31);
  padding: 1% 5%;
  width: auto;
}
.flex-container {
  margin-right: 50px;
  display: -webkit-flex;
  display: flex;
}
.flex-item {
  margin-left: 20px;
  -webkit-order: 1;
  order: 1;
}
.backgroundsmooth{
  margin: 10%;
  height: 70%;
  width: auto;
  background-color: rgba(253, 249, 241, 0.97);
  border: 1px;
  border-radius: 5px 5px 5px 5px;
  padding: 2%;
  position: inherit;
}

.backgroundsmooth-form{
  height: 100%;
  background-color: rgba(253, 249, 241, 0.87);
  border: 1px;
  border-radius: 5px 5px 5px 5px;
  padding: 1%;
}

.bigtext{
  margin: 10%;
}
.longtext {
  margin-top: 9%;
  margin-right: 10%;
  margin-left: 10%;
}
.grid-container-double{
  position: relative;
  justify-content: center;
  left: 50%;
  transform: translate(-50%, 0);
  padding-right: 6%;
  margin-bottom: 5%;
  display: grid;
  grid-template-columns: 50% 50% ;
  gap: 1%;
}

.center-align{
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.card-one{
  padding-top: 8%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgba(191, 135, 69, 0.34);
  border: 1px solid #0d2158;
}
.card-two{
  background-color: rgba(191, 135, 69, 0.37);
  border: 1px solid #0d2158;
}
.card-second {
  margin-top: 30px;
  padding-left: 40px;
}
.wrapper1{
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
}

.map{
  position: page;
}

.wrapper2{
  margin: 100px;
}
.backgroundsmooth-big-card{
  margin: 70px;
  height: 85%;
  background-color: rgb(222, 198, 176);
  border: 1px;
  border-radius: 5px 5px 5px 5px;
  padding: 50px;
}



* {box-sizing: border-box;}
.transparent {
  position: relative;
  max-width: initial;
  padding: 5%;
  background-size: cover;
}
.transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right bottom,rgba(43, 44, 78, .5),rgba(104, 22, 96, .5));
}
.form-inner {
  position: sticky;
  height: fit-content;
}
.form-inner h2 {
  position: relative;
  margin-top: 0;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 26px;
  text-transform: uppercase;
}
.form-inner h3:after {
  content: "";
  position :absolute;
  left: 0;
  bottom: -6px;
  height: 2px;
  width: 60px;
  background: #1762EE;
}
.form-inner label {
  display: block;
  padding-left: 15px;
  font-family: 'Roboto', sans-serif;
  color: rgba(255,255,255,.6);
  text-transform: uppercase;
  font-size: 14px;
}
.form-inner input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid #0d2158;
  padding: 0 15px;
  margin: 10px 0 15px;
  line-height: 30px;
  min-height: 5%;
  color: black;
  background: rgba(255,255,255,.2);
  font-family: 'Roboto', sans-serif;
}
.form-inner textarea {
  display: block;
  width: 100%;
  height: 100px;
  border: 1px solid #0d2158;
  padding: 0 15px;
  margin: 10px 0 15px;
  line-height: 23px;
  color: black;
  background: rgba(255,255,255,.2);
  font-family: 'Roboto', sans-serif;
}

.form-inner button {
  display: block;
  width: 20%;
  height: 50px;
  border: 1px solid #0d2158;
  padding: 0 15px;
  margin: 10px 0 15px;
  line-height: 40px;
  color: black;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  background: rgba(255,255,255,.2);
  font-family: 'Roboto', sans-serif;
}
.form-inner input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
#custom-checkbox + label {
  position: relative;
  margin: 20px 0;
  text-transform:none;
  cursor: pointer;
}
#custom-checkbox + label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: text-top;
  background: white;
}
#custom-checkbox:checked + label:before {background: #1762EE;}
#custom-checkbox:checked + label:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  left: 20px;
  top: 9px;
  background: white;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}
.form-inner input[type="submit"] {background: #1762EE;}

.rating-mini {
  display: inline-block;
  font-size: 0;
}
.rating-mini span {
  padding: 0;
  font-size: 20px;
  line-height: 1;
  color: lightgrey;
}
.rating-mini > span:before {
  content: '★';
}
.rating-mini > span.active {
  color: gold;
}

.rating-area {
  overflow: hidden;
  width: 265px;
  margin: 0 auto;
}
.rating-area:not(:checked) > input {
  display: none;
}
.rating-area:not(:checked) > label {
  float: right;
  width: 42px;
  padding: 0;
  cursor: pointer;
  font-size: 50px;
  line-height: 50px;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
  content: '★';
}
.rating-area > input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
  color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
  position: relative;
}


.items{
  margin: 10%;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 2%;
}
.item{
  width:100%;
  font-size:2vw;
}
.img{
  max-width:100%;
  max-height: 100%;
  border: 1px solid #0d2158;
}


.links{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:end;
  -ms-flex-align:baseline;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: end;
  justify-content: center;
  gap: 2%;
}
.link{
  font-size:2vw;
  color: black;
}
a {
  color: black;
}
a:hover {
  text-decoration: underline;
}

a:active {
  color: black;
}

a:visited {
  color: black;
}